<% include ../struct/header.ejs %>
<% include ../struct/navbar.ejs %>
<div class="container-fluid margin-top">
    <div class="row">
        <div class="col"></div>
        <div class="col-sm my-4">
            <!-- Affichage des erreurs formulaire -->
            <% if (errors) { %>
                <div class="alert alert-danger">
                    <% errors.forEach(function(error) { %>
                        <li><%= error %></li>
                    <% }); %>
                </div>
            <% } %>
            <!-- Formulaire de modification de compte -->
            <form method="post" class="text-center border border-light p-5">
                <p class="h4 mb-4"><%= subTitle %></p>
                <div class="form-row mb-4">
                    <div class="col">
                        <input type="text" class="form-control" name="firstname" placeholder="<%= formText.firstname %>" value="<%= formValue.firstname %>">
                    </div>
                    <div class="col">
                        <input type="text" class="form-control" name="lastname" placeholder="<%= formText.lastname %>" value="<%= formValue.lastname %>">
                    </div>
                </div>
                <input type="email" class="form-control mb-4" name="email" placeholder="<%= formText.email %>" value="<%= formValue.email %>">
                <input type="text" class="form-control mb-4" name="addressEthereum" placeholder="<%= formText.addressEthereum %>" value="<%= formValue.addressEthereum %>">
                <button class="btn btn-orange my-4 btn-block" type="submit"><%= formText.submit %></button>
            </form>
        </div>
        <div class="col"></div>
    </div>
</div>
<% include ../struct/footer.ejs %>